---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Menu from '../components/Menu.astro'
import Form from '../components/Form.astro'
import CardImage from '../components/CardImage.astro'
import CardIcon from '../components/CardIcon.astro'
import CardBlog from '../components/CardBlog.astro'
import Footer from '../components/Footer.astro'

import { getFeatures, getPortfolio, getSocialNetworks, getHomePosts } from '../lib/datocms.js';

const { allFeatures } = await getFeatures();
const { allPortfolios } = await getPortfolio();
const { allSocialNetworks } = await getSocialNetworks();
const { allBlogs } = await getHomePosts();
---

<Layout title="emamut">
  <main>
    <Menu />
  </main>
</Layout>

<style>
</style>