---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Form from '../components/Form.astro'
import CardImage from '../components/CardImage.astro'
import CardIcon from '../components/CardIcon.astro'
import CardBlog from '../components/CardBlog.astro'
import Footer from '../components/Footer.astro'

import { getFeatures, getPortfolio, getSocialNetworks, getHomePosts } from '../lib/datocms.js';

const { allFeatures } = await getFeatures();
const { allPortfolios } = await getPortfolio();
const { allSocialNetworks } = await getSocialNetworks();
const { allBlogs } = await getHomePosts();
---

<Layout title="emamut">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div>
      <h1 class="font-bold text-emamut-gray text-6xl leading-[1.1]">
        Soluciones <br>
        <span class="text-emamut-orange">Tecnológicas</span> <br>
        Innovadoras
      </h1>
      <p class="mt-4">
        En <span class="font-bold text-emamut-orange">emamut</span> transformamos ideas en realidades digitales.
        Desarrollamos software a medida, aplicaciones web y móviles que
        impulsan el crecimiento de tu negocio.
      </p>

      <div class="flex flex-wrap gap-4 mt-4">
        <button class="
          bg-emamut-orange text-white px-6 py-3 rounded-lg font-semibold
          hover:bg-orange-700
          transition-colors duration-300
        ">
          Ver portafolio
        </button>

        <button class="
          border-2 border-emamut-orange text-emamut-orange px-6 py-3 rounded-lg font-semibold
          hover:bg-emamut-orange hover:text-white
          transition-all duration-300
        ">
          Contactar
        </button>
      </div>
    </div>
    <div>
      <img src="https://placehold.co/600x400" alt="" class="w-full h-auto">
    </div>
  </div>
</Layout>