---
interface Props {
	icon: string;
	link: string
}

const { icon, link } = Astro.props;
---

<div class="col">
  <div class="card">
    <a href={link} target="_blank">
      <div class="card-body text-center">
        <i class={`fa-brands fa-${icon} fa-4x card-icon`}></i>
      </div>
    </a>
  </div>
</div>