---
interface Props {
	icon: string;
	link: string
}

import { Image } from 'astro:assets';

const { icon, link } = Astro.props;
---

<div class="col">
  <div class="card">
    <a href={link} target="_blank">
      <div class="card-body text-center">
        <Image src={icon} alt="Icon" class="card-icon" width={70} height={70} />
      </div>
    </a>
  </div>
</div>