---
interface Props {
	title: string;
	body: string;
	icon: string;
}

import Icon from '../components/Icon.astro'

const { title, body, icon } = Astro.props;
---

<div class="col">
	<div class="card">
		<div class="card-body">
			<Icon icon={icon} classText='text-secondary' styleText='font-size: 2rem;' />
			<h5 class="card-title mt-1">{title}</h5>
			<p class="card-text">{body}</p>
		</div>
	</div>
</div>