---
interface Props {
  title: string;
  body: string;
  icon: string;
}

const { title, body, icon } = Astro.props;
---

<div class="col">
  <div class="card">
    <div class="card-body">
      <i class={`fa-solid fa-${icon} fa-2x card-icon`}></i>
      <h5 class="card-title mt-1">{title}</h5>
      <p class="card-text">{body}</p>
    </div>
  </div>
</div>