---
interface Props {
	title: string;
	body: string;
}

const { title, body } = Astro.props;
---

<div class="col">
	<div class="card" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">{title}</h5>
			<p class="card-text">{body}</p>
		</div>
	</div>
</div>