---
import Icon from '../components/Icon.astro'

interface Props {
	icon: string;
	link: string
}

const { icon, link } = Astro.props;
---

<div class="col">
  <div class="card">
    <a href={link} target="_blank">
      <div class="card-body text-center">
        <Icon icon={icon} classText='text-secondary' styleText='font-size: 3rem' />
      </div>
    </a>
  </div>
</div>