---
import { Image } from "astro:assets"
import heartIcon from '/src/images/icons/heart.svg';
---

<footer class="bg-body-secondary mt-5 py-3">
  <div class="container-fluid">
    <div class="row justify-content-center ">
      <div class="col-md-4 text-center">
        <p>Powered with <Image src={heartIcon} width={20} height={20} alt="Heart" class="card-icon" /> by <a href="https://emamut.vercel.app/" class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" target="_blank">emamut</a></p>
      </div>
    </div>
  </div>
</footer>