---

---

<form name="contact" data-netlify="true">
  <div class="mb-3">
    <label class="form-label" for="name">Nombres completos</label>
    <input type="text" name="name" class="form-control" autocomplete="off" id="name" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="email">Email<span style="color: red">*</span></label>
    <input type="email" name="email" class="form-control" autocomplete="off" required />
  </div>
  <div class="mb-3">
    <label class="form-label" for="message">Mensaje<span style="color: red">*</span></label>
    <textarea name="message" id="message" class="form-control" autocomplete="off" rows="3" required></textarea>
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-outline-secondary" type="submit">Send</button>
  </div>
</form>