---
import { Image } from "astro:assets"
import sendIcon from '../images/icons/send.svg';
---

<form name="contact" data-netlify="true">
  <div class="form-floating mb-3">
    <input type="text" name="name" id="name" class="form-control" placeholder="Juan Vergara" autocomplete="off" />
    <label for="name">Nombres completos</label>
  </div>
  <div class="form-floating mb-3">
    <input type="email" name="email" id="email" class="form-control" placeholder="juanvergara@gmail.com" autocomplete="off" required />
    <label for="email">Email<span style="color: red">*</span></label>
  </div>
  <div class="form-floating mb-3">
    <textarea name="message" id="message" class="form-control" placeholder="Necesito más información" autocomplete="off" rows="3" required></textarea>
    <label for="message">Mensaje<span style="color: red">*</span></label>
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-outline-secondary" type="submit">
      Enviar
      <Image src={sendIcon} alt="Send" width={20} height={20} class="card-icon" />
    </button>
  </div>
</form>