---
import Icon from "./Icon.astro";
---

<form name="contact" data-netlify="true">
  <div class="form-floating mb-3">
    <input type="text" name="name" class="form-control" placeholder="Juan Vergara" autocomplete="off" id="name" />
    <label for="name">Nombres completos</label>
  </div>
  <div class="form-floating mb-3">
    <input type="email" name="email" class="form-control" placeholder="juanvergara@gmail.com" autocomplete="off" required />
    <label for="email">Email<span style="color: red">*</span></label>
  </div>
  <div class="form-floating mb-3">
    <textarea name="message" id="message" class="form-control" placeholder="Necesito más información" autocomplete="off" rows="3" required></textarea>
    <label for="message">Mensaje<span style="color: red">*</span></label>
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-outline-secondary" type="submit">
      Enviar <Icon icon="send" classText='text-secondary' styleText='font-size: 1rem' />
    </button>
  </div>
</form>