---
interface Props {
  backgroundImg: string;
}

const {backgroundImg} = Astro.props
---

<div class="container-fluid px-0">
  <header></header>
</div>

<style define:vars={{ backgroundImg }}>
  header {
    height: 60vh;
    background-image: var(--backgroundImg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
  }

  @media only screen and (max-width: 576px) {
    header {
      height: 20vh;
    }
  }

  @media only screen and (min-width: 576px) and (max-width: 768px) {
    header {
      height: 30vh;
    }
  }
</style>