---
interface Props {
	backgroundImg: string;
}

const {backgroundImg} = Astro.props
---

<div class="container-fluid px-0">
  <header></header>
</div>

<style define:vars={{ backgroundImg }}>
  header {
    width: 100vw;
    min-height: 45vh;
    background-image: var(--backgroundImg);
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
  }
</style>