---
import { Image } from 'astro:assets'
import { Sun } from '@lucide/astro';
import logo from '../images/logo-emamut.png'
---

<nav class="bg-neutral-100 shadow-md">
  <div class="container mx-auto px-4 mb-12">
    <div class="flex items-center justify-between h-20">

      <!-- Logo -->
      <div class="w-2xl">
        <a href="/">
          <Image src={logo} alt="" class="w-1/6 h-auto" />
        </a>
      </div>

      <!-- Menu Items (Desktop) -->
      <div class="hidden md:flex items-center space-x-4">
        <a href="#" class="text-emamut-gray hover:text-emamut-orange hover:underline hover:underline-offset-4 transition">Inicio</a>
        <a href="#" class="text-emamut-gray hover:text-emamut-orange hover:underline hover:underline-offset-4 transition">Servicios</a>
        <a href="#" class="text-emamut-gray hover:text-emamut-orange hover:underline hover:underline-offset-4 transition">Nosotros</a>
        <a href="#" class="text-emamut-gray hover:text-emamut-orange hover:underline hover:underline-offset-4 transition">Contacto</a>
        <a href="#" class="text-emamut-gray hover:text-emamut-orange hover:underline hover:underline-offset-4 transition"><Sun/></a>
      </div>

      <!-- Mobile Menu Button -->
      <div class="md:hidden">
        <button class="text-emamut-gray hover:text-emamut-orange">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>

    </div>
  </div>
</nav>