---
interface Props {
  title: string;
}

const { title } = Astro.props;

import '@fontsource/geist'
import '@fontsource/geist/700.css'
import 'bootstrap-icons/font/bootstrap-icons.css';

import '../styles/global.css';

import Menu from '../components/Menu.astro';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Creative Studio" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="/apple-touch-icon.png" />
    <link rel="icon" href="/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" href="/android-chrome-192x192.png" sizes="192x192" />

    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#ffffff" />

    <meta name="generator" content={Astro.generator} />
    <title>{title} - La agencia de los emprendedores</title>

    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-5B9FT8TRVV"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5B9FT8TRVV');
    </script>
  </head>
  <body>
    <Menu />
    <div class="container">
      <slot />
    </div>
  </body>
</html>