---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "bootstrap/dist/css/bootstrap.min.css";
import Menu from '../components/Menu.astro';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Creative Studio" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="/apple-touch-icon.png" />
    <link rel="icon" href="/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" href="/android-chrome-192x192.png" sizes="192x192" />

    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#ffffff" />

    <meta name="generator" content={Astro.generator} />
    <title>{title} - La agencia de los emprendedores</title>

    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-5B9FT8TRVV"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5B9FT8TRVV');
    </script>
  </head>
  <body>
    <div class="container">
      <Menu />
      <slot />
    </div>
  </body>
</html>

<script>
  import 'bootstrap/dist/js/bootstrap.bundle.min.js'

  import '@fortawesome/fontawesome-free/js/fontawesome.js';
  import '@fortawesome/fontawesome-free/js/solid.js';
  import '@fortawesome/fontawesome-free/js/brands.js';
</script>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

  body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .card-icon {
    filter: invert(47%) sepia(6%) saturate(0%) hue-rotate(180deg) brightness(91%) contrast(88%);
  }

  .card:hover .card-icon {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
  }
</style>